@model University_System.ViewModels.StudentViewModel.StudentControllerStudentVM

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post))
{
    <table class="table-condensed">
        <tr>
            <td>
                @Html.PasswordFor(model => model.Password , new { @class = "form-control", @placeholder = "Password",style="width:200px;" })
            </td>
            <td>
                @Html.ValidationMessageFor( model=> model.Password)
            </td>
        </tr>
    </table>
    <input type="submit" value="Save" class="btn"/>
    @Html.ActionLink("back", "Index", "Student")
}

